@font-face {
    font-family: 'karnvayla-regular-webfont';
    src: url("../fonts/Karnvayla-Regular.ttf") format("truetype"), url("../fonts/Karnvayla-Regular.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: 'CSChatThai';
    src: url("../fonts/CSChatThai.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ThaiSans';
    src: url("../fonts/ThaiSansNeue-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-stroke: 1px transparent;
}

* {
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-stroke: 1px transparent;
}
html,body{
    height:100%;
}
#wrap {
    height: auto;
    min-height: 100%;
}
#footer { 
    position: relative;
    margin-top:-1.5em;
    text-align: center;
    color:#777777;
} 

.avia-safari body,
.avia-mozilla body {
    -webkit-font-smoothing: subpixel-antialiased;
}

b,
strong {
    font-weight: 500;
}

p,
h1,
h2,
h3,
h4,
span {
    font-family: 'CSChatThai';
    font-weight: normal;
    margin: 0;
}

thead {
    font-weight: 500;
}

td {
    text-align: center;
    font-family: 'CSChatThai';
    border: 1px #cacaca solid;
    min-width: 47px;
}

body {
    background-color: #f9f9f9;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.date-picker {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%
}

.button1 {
    padding: 5px 24px;
}

.nav-style,
.title {
    background: white;
    font-family: 'ThaiSans';
    color: #777777;
}


/*
.card {
    font-size: 1em;
    overflow: auto;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    background: white;
    height: 300px;
    position: relative;
}*/

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.form-group {
    width: 100%;
}

.ctrl-panel-footer {
    position: absolute;
    right: 0;
    bottom: 0;
}
.color-bar{
    width:100%;
    height: 5px;
    background: #4BAEB6;  /* fallback for old browsers */


    
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: default;
}

.margin-top-1 {
    margin-top: 1em;
}

.margin-top-2 {
    margin-top: 2em;
}

.margin-top-5 {
    margin-top: 5em;
}

.progress-number {
    margin-top: 15px;
    text-align: right;
    padding:0;
}

.progress-value {
    position: absolute;
    right: 0;
    left: 0;
    color: black;
    font-size: 14px;
}

.label-title {
    font-family: 'CSChatThai';
    font-weight: normal;
    font-size: 18px
}

.total-summary {
    border-bottom: double 2px #777777 !important;
}

.border-disable td {
    border: none;
    font-weight: 500;
}

.plus-btn {
    position: relative;
    right: 0;
    margin-right: .3em;
    /*right: -15px;*/
    color: #87D37C;
    /*top: 8px;*/
    /*left: 50%;*/
    font-size: 20px;
    /*margin-left:1em;
    */
    /*feel like disable*/
    /*opacity: .2;*/
}

.error {
    text-align: center;
    color: grey;
}

.minus-btn {
    position: absolute;
    right: -15px;
    color: #E74C3C;
    top: 8px;
    font-size: 20px;
    cursor: pointer;
}

.warning-message {
    float: right;
    color: red;
}


/* disable legend on graph 2 */

#container2 g.highcharts-legend-item {
    display: none;
}

.icon-male {
    font-size: 25px;
    color: #2980b9;
}

.icon-female {
    font-size: 25px;
    color: #E08283;
}

.color-intensity-5 {
    background-color: #003E5F;
}

.color-intensity-4 {
    background-color: #004384;
}

.color-intensity-3 {
    background-color: #1693A5;
}

.color-intensity-2 {
    background-color: #96CFEA;
}

.color-intensity-1 {
    background-color: #F0F8FF;
}

.color-summary-1 {
    background-color: #f1f8ff;
}

.color-summary-2 {
    background-color: #d7ecff;
}

.color-summary-3 {
    background-color: #bee0ff;
}

.color-summary-4 {
    background-color: #a4d4ff;
}

.color-summary-5 {
    background-color: #8bc8ff;
}

.color-summary-0 {
    background-color: white;
}

.border-right {
    border-right: 1.5px solid grey !important;
}

.m-24-1,
.m-23-1,
.m-22-1,
.m-21-1,
.m-20-1,
.m-19-1,
.m-18-1,
.m-17-1,
.m-16-1,
.m-15-1,
.m-14-1,
.m-13-1,
.m-12-1,
.m-11-1,
.m-10-1,
.m-9-1,
.m-8-1,
.m-7-1,
.m-6-1,
.m-5-1,
.m-4-1,
.m-3-1,
.m-2-1,
.m-1-1 {
    border-right: 1.5px solid grey !important;
}

.f-24-1,
.f-23-1,
.f-22-1,
.f-21-1,
.f-20-1,
.f-19-1,
.f-18-1,
.f-17-1,
.f-16-1,
.f-15-1,
.f-14-1,
.f-13-1,
.f-12-1,
.f-11-1,
.f-10-1,
.f-9-1,
.f-8-1,
.f-7-1,
.f-6-1,
.f-5-1,
.f-4-1,
.f-3-1,
.f-2-1,
.f-1-1 {
    border-right: 1.5px solid grey !important;
}

.u-24-1,
.u-23-1,
.u-22-1,
.u-21-1,
.u-20-1,
.u-19-1,
.u-18-1,
.u-17-1,
.u-16-1,
.u-15-1,
.u-14-1,
.u-13-1,
.u-12-1,
.u-11-1,
.u-10-1,
.u-9-1,
.u-8-1,
.u-7-1,
.u-6-1,
.u-5-1,
.u-4-1,
.u-3-1,
.u-2-1,
.u-1-1 {
    border-right: 1.5px solid grey !important;
}

.text-addfilter {
    margin-left: .5em;
    font-size: 10px;
    color: #1693a5;
    cursor: pointer;
}


/*Customise Checkbox style*/

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled+label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}


/*End Customise*/

::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, .05);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}

.scroll {
    outline: none;
    position: fixed;
    position: fixed;
    right: 8px;
    bottom: 8px;
    margin: 10px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    background: #F9BF3B;
}

.scroll:hover {
    background: #FDE3A7;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.scroll .fa {
    font-size: 30px;
    margin-top: -8px;
    margin-left: 1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    font-weight: bold;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    outline: none;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.hr-print {
    display: none;
}

.btn-circle.btn-lg {
    outline: none;
    width: 50px;
    height: 50px;
    padding: 10px 13px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.table-style {
    overflow-x: auto;
}

#blackdrop {
    transition: opacity 450ms;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    z-index: 8888;
    display: none;
}

.loading-animate {
    top: 50%;
    position: relative;
    left: 50%;
    color: #00b6ff;
}


/* Dropdown Button */

.dropbtn {
    color: grey;
    padding: 2px;
    font-size: 28px;
    border: none;
    cursor: pointer;
}

.drop-div {
    float: right;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
    color: #e9e9e9;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
}

.dropdown-display {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .3);
    z-index: 1;
    right: 0;
    top: 50px;
}

.dropdown-display p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    outline: none;
}

.dropdown-display p:hover {
    background-color: #f5f5f5;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}
.display-show{
    display: block;
}
.display-hide{
    display: none;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

@media (max-width: 1350px) {
    .daterangepicker .ranges ul {
        width: 112px;
    }
}


/*/////////  Animate icon checked  ///////*/

.wrapper {
    width: 30px;
    }

.checkmark {
    stroke: green;
    stroke-dashoffset: 745.74853515625;
    stroke-dasharray: 745.74853515625;
    -webkit-animation: dash 2s ease-out forwards;
            animation: dash 2s ease-out forwards;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 745.74853515625;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 745.74853515625;
    }
    100% {
        stroke-dashoffset: 0;
    }
}


.flip-btn{
    float:right; font-size:17px; margin-top:.2em; color:#4BAEB6;cursor:pointer;
}
.flip-btn:hover{
      text-decoration: underline;
}
/*FLIP*/

.flip {
    -webkit-perspective: 800;
    perspective: 800;
    position: relative;
    transform-style: preserve-3d;
}

.flip .card.flipped {
    transform-style: preserve-3d;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip .card {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.flip .card .face {
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
}

.flip .card .front {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.flip .card .back {
    transform-style: preserve-3d;
    -webkit-transform: rotatey(180deg);
    transform: rotatey(180deg);
}

.color-love{
    background-color: #004384;
}
.color-like{
    background-color: #96cfea;
}
.color-normal{
    background-color: #f0c514;
}
.color-dislike{
    background-color: #e67e22;
}
.color-upset{
    background-color: #e84c3c;
}


.emotion-progress{
    max-width: 20px;
}

.footer{
    position: relative;
    left:0;
    bottom: 0;
    
}